html {
  margin: 0px;
  height: 100%;
  width: 100%;
}
body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  font-family: Montserrat;
  background-color: #F2F0EF;
  color: #282828;
}

.main-head {
  grid-area: header;
}

.content {
  margin: 10px;
  grid-area: content;
}


.main-nav {
  grid-area: nav;
}

.main-footer {
  grid-area: footer;

}

.wrapper {
  display: grid; 
  gap: 0px;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "footer"
}
nav {
  display: flex; 
  gap: 15px;  
  justify-content: right;


  background-image: url("white-gradient.jpg");
  opacity: 0.8;
  min-height: 20px;

  background-position: 0% 32%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
/* Can match darker purple for smaller screens*/

nav a {
  color: #282828;
  font-size: 20px;

}

@media (width >= 500px) {
  .wrapper {
    "header  header"
    "nav     nav"
    "content content"
    "footer  footer";

  }
}


.content {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 35px;

}


.main-head .bg-img {
  opacity: 0.9;
  background-image: url("purple-gradient.jpg");
  transform: scale(-1, -1);
  min-height: 100px;

  background-position: 0% 25%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-head .bg-img .title {
  font-weight: bold;
  transform: scale(-1, -1);
  padding: 20px;
}

.content .team-box {
  display:flex;
  background-color: white;
  height: 300px;
  width: 900px;
  outline: 2px solid #282828;
  box-shadow: 3px 3px 1px #282828;


  
}
.content .team-box .text{
  padding: 20px;
}

.content .team-box img {
  float: left;
  max-height: 300px;
  max-width: 900px;
}

.content .contact-div {
  display: flex;
  justify-content: center;
}
.content .contact-div form {
  display: flex;
  width: 500px;
  gap: 30px;
  flex-direction: column;
}

.content .contact-div form div {
  width: 300px;
  display: flex;
  justify-content: space-between;
}


